/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Zeyada&display=swap');

*, *::after, *::before {
  box-sizing:border-box;
}

html {
  ;
}

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family:'Courier Prime', monospace;
  color:rgb(76,76,76);
  font-size:15px;
  -webkit-font-smoothing:antialiased;
}

/* alle htjes*/

h1 {
	text-align: center;
  font-family: 'Courier Prime';
  margin: 10px;
}

h2 {
  text-align: center;
  color: #333333;
  font-family: 'Courier Prime';
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

h3 {
	font-family: 'mr de Haviland';
	font-weight: lighter;
	font-size: 42px;
	color: #1B1919;
	margin-left: 80px;
}

h4 {
	color: #252222;
 	font-weight: lighter;
 	font-size: 15px;
 	border-bottom: 1px solid rgba(0,0,0,.1);
 	margin: 8px;
 	margin-left: 0;
	font-family: 'Courier Prime';
}

p {
  text-align: center;
  color: #b1b1b1;
  font-family: 'Courier Prime';
	font-size: 15px;
	font-weight: 100;
}

a {
	text-decoration: none;
  font-family: 'Courier Prime';
	color: black;
	font-size: 15px;
}

/*header*/

header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content:space-between;
}

.logo {
	display: block;
	width: 16.625em;
	width: 13em;
	padding: 30px 0;
  margin: 0 auto;}

header p {
	background-color: #E3D8CC;
	color: black;
	padding: 0.8em;
	margin-top: 0;
	flex-basis: 100%;
	order: -2;
}

header > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

header > ul:first-of-type {
	order: -1;
	display: none;
}

header > ul img {
	width: auto;
	height: 1.5em;
  margin: 0.5em;
}

/*nav*/

nav {
	order: -1;
}

nav button{
	position: relative;
	z-index: 120;
  background: none;
  border: none;
  appearance: none;
}

nav ul {
	list-style: none;
	padding: 9em 0 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #E3D8CC;
	margin: 0;
	z-index: 100;
	transform: translateX(-100%);
	transition: transform 1s;
}

nav ul.open {
	transform: translateX(-0%);
}

nav ul > li a {
	display: block;
	padding: 1em;
}

/* mediaqueries */

@media all and (min-width: 30em) {
	.logo {width: 16.625em;}
}

@media all and (min-width: 56em) {
	header > ul:first-of-type {
		display: flex;
	}
	nav button {
		display: none;
	}
	nav {
		order: 0;
		flex-basis: 100%;
	}
	nav ul {
		position: relative;
		display: flex;
		padding: 0;
		justify-content: center;
		background-color: white;
	}

/*eerste sectie*/

body.homepage section > a,
body.homepage section > div > a {
	display: inline-block;
	background-color: #333;
	color: White;
	font-weight: lighter;
	padding: 0 1em;
	margin: 20px auto;
	text-align: center;
	line-height: 40px;
}

body.homepage section:first-of-type{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

body.homepage section:first-of-type img {
	width: 40%;
	min-width: 350px;
	margin: 0 1em;
}

body.homepage section:first-of-type div {
	max-width: 426px;
	text-align: center;
}

div {
  max-width: 426px;
  text-align: center;
}

/*tweede sectie*/

body.homepage section:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(12em, 1fr) );
	grid-gap: 2em;
	padding: 2em;
}

/*kopje section*/

body.homepage section:nth-of-type(2) h3 {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
	margin: 0px;
}

/*alle artikelen link*/

body.homepage section:nth-of-type(2) > a {
	grid-column-start: 1;
	grid-column-end: -1;
	background-color: #EADAD0;
	color: black;
}

/*artikelen*/

body.homepage section:nth-of-type(2) article a {
	display: flex;
	flex-direction: column;
	position: relative;

}

body.homepage section:nth-of-type(2) article a img {
 	width: 100%;
 	order: -1;
}

body.homepage section:nth-of-type(2) article a p {
	 text-align: left;
	 padding: 0px 10px;
	 font-size: 16px;
}

body.homepage section:nth-of-type(2) article a::before{
	content:'';
	width: 1.5em;
	height: 1.5em;
	background-image: url('../images/loop.svg');
	opacity: 0;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	transition: .3s;
}
body.homepage section:nth-of-type(2) article a:hover::before{
  opacity: 1;
}

body.homepage section:nth-of-type(2) article a::after{
	content: 'view product';
  font-weight: 700;
}

/*derde sectie*/

body.homepage section:nth-of-type(3) img {
	width: 40%;
	min-width: 350px;
	margin: 0 1em;
}

body.homepage section:nth-of-type(3){
	display: flex;
 	flex-wrap: wrap;
	flex-direction: row-reverse;
	padding: 0 10px;
}

/*vierde sectie = detailpagina*/

body.detailpagina section:nth-of-type(1) img {
	width: 40%;
  height: 40%;
 	min-width: 350px;
 	margin: 0 1.5em;
}

body.detailpagina section:nth-of-type(1){
	display: flex;
	flex-wrap: wrap;
}

body.detailpagina section:nth-of-type(1) h1 {
	font-family:'Liu Jian Mao Cao';
	font-weight: lighter;
  color: black;
	font-size: 40px;
	text-align:left;
	margin: 0;
}

body.detailpagina section:nth-of-type(1) p {
	font-family:'Courier Prime';
	color: black;
	font-size: 15px;
	text-align:left;
}

body.detailpagina section:nth-of-type(1) p:last-of-type {
  border: 1px solid #EADAD0;
  padding: 0.5em;
  margin-top: 2em;
}

body.detailpagina section:nth-of-type(1) p:nth-of-type(5) {
  margin-bottom: 2em;
}

body.detailpagina section:nth-of-type(1) p em {
	font-style: normal;
}
body.detailpagina section:nth-of-type(1) p em::before{
	content: '☆';
	padding-right: 1ch;
	font-size: 120%;
}
body.detailpagina section:nth-of-type(1) p:last-of-type em::before{
	content: '♡';
	padding-right: 1ch;
	font-size: 120%;
}

body.detailpagina section:nth-of-type(1) ul {
	background-color: rgba(241,227,217,0.2);
	padding:0 0 0 1ch;
  list-style-type:"\02605";
	padding-top: 1em;
	padding-bottom: 1em;
}

body.detailpagina section:nth-of-type(1) ul > li {
	display: list-item;
	padding:0 0 0 1ch;
  line-height:1.6875em;
  margin-left: 0;
	text-align: left;
}

body.detailpagina section:nth-of-type(1) li:first-of-type {
  font-weight:700;
}
body.detailpagina section:nth-of-type(1) p:first-of-type {
  font-size: 20px;
}
body.detailpagina section:nth-of-type(1) p:nth-of-type(2) {
  font-weight:700;
}
body.detailpagina section:nth-of-type(1) div > img {
  width: 1.5em;
}
body.detailpagina section:nth-of-type(1) div > a {
	background-color: #F1E3D9;
	color: black;
  padding: 0.8em;
  font-weight: 700;
}

/* counter */

select {
  color: black;
  border: none;
  text-align: left;
  position: relative;
  margin-right: 4em;
}

/* footer */


footer {
	background-color: #white;
}

footer li {
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
  text-align: left;
}

footer p:first-of-type {
	font-weight: 900;
	font-size: 16px;
	color: black;
	margin-bottom: 2em;
	text-align: left;
	margin-left: 1em;
}

footer p em {
	font-style: normal;
	color: #4C4C4C;
	}

footer p em::before{
	content: '➤';
	color: black;
	padding-right: 1ch;
	font-size: 120%;
	}

footer div {
  display: flex;
}


/* Component styling */
section#some-ultra-cool-component {

}


/* Breakpoints */
@media all and (min-width: 30em) {

}

@media all and (min-width: 60em) {

}

@media all and (min-width: 90em) {

}
