/* CSS Document */
	@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*, *::after, *::before {
  box-sizing:border-box;
}

html {
  ;
}

body {background-color: #fff;
	margin: 0;
	padding: 0;
	font-family:'Courier Prime', monospace;
  color:rgb(76,76,76);
  font-size:15px;
  -webkit-font-smoothing:antialiased;
}

h1 {text-align: center;
  font-family: 'Courier Prime';
  margin: 10px;
}
h2 {
  text-align: center;
  color: #333333;
  font-family: 'Courier Prime';
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

h3 {font-family: 'mr de Haviland';
font-weight: lighter;
font-size: 42px;
color: #1B1919;
margin-left: 80px;
}

h4 {color: #252222;
 	font-weight: lighter;
 	font-size: 15px;
 	border-bottom: 1px solid rgba(0,0,0,.1);
 	margin: 8px;
 	margin-left: 0;
	font-family: 'Courier Prime';
}

p { text-align: center;
  color: #b1b1b1;

  font-family: 'Courier Prime';
	font-size: 15px;
	font-weight: 100;
}

ul {

}
li {display: inline;
	margin-left: 40px;

}
a { text-decoration: none;
  font-family: 'Courier Prime';
	color: black;
	font-size: 15px;
}

section > a,
section > div > a {
display: inline-block;
background-color: #333;
color: White;
font-weight: lighter;
padding: 0 1em;
margin: 20px auto;
text-align: center;
line-height: 40px;
margin-bottom: 80px;}

section:nth-of-type(2) > a {
background-color: #EADAD0;
color: black;
}

.logo {width: 150px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 100px;}


section:first-of-type
 {display: flex;
 flex-wrap: wrap;}

main section:first-of-type img {
width: 40%;
min-width: 350px;
margin: 0 1em;}

div {
	max-width: 426px;
	text-align: center;
}

section:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(12em, 1fr) );
	grid-gap: 2em;
	padding: 2em;
}
section:nth-of-type(2) article {
	 display: flex;
	 flex-direction: column;
	 position: relative;
}

section:nth-of-type(2) h3 {
	grid-column-start: 1;
	grid-column-end: -1;
	text-align: center;
	margin: 0px;
}


section:nth-of-type(2) img {
width: 100%;
order: -1;
}

section:nth-of-type(2) article p {
	 text-align: left;
	 padding: 0px 10px;
	 font-size: 16px;
}

section:nth-of-type(2) article a{
	opacity: 0;
	transition: .3s;
}

section:nth-of-type(2) article:hover a{
	opacity: 1;
}

section:nth-of-type(2) article a:first-of-type {
	font-weight: bold;
}
section:nth-of-type(2) article a:last-of-type{
	position: absolute;
	top: 1em;
	right: 1em;
}
section:nth-of-type(2) article a:last-of-type img {
	width: 1.5em;
	height: auto;
}

section:nth-of-type(2) > a {
	grid-column-start: 1;
	grid-column-end: -1;
}

section:nth-of-type(3) img {
	width: 40%;
	min-width: 350px;
	margin: 0 1em;
}

section:nth-of-type(3){
	display: flex;
 	flex-wrap: wrap;}

section:nth-of-type(4) img {
	width: 50%;
 	min-width: 350px;
 	margin: 0 1.5em;}

section:nth-of-type(4)
	 {display: flex;
	 flex-wrap: wrap;}

section:nth-of-type(4) h1 {
	font-family:'mr de Haviland';
	font-weight: lighter;
  color: black;
	font-size: 40px;
	text-align:left;
	margin: 0;
}

section:nth-of-type(4) p {
	font-family:'Courier Prime';
	color: black;
	font-size: 15px;
	text-align:left;
}

section:nth-of-type(4) ul {
	background-color: rgba(241,227,217,0.2);
	padding:0 0 0 1ch;
  list-style-type:"\02605";
	padding-top: 1em;
	padding-bottom: 1em;
}

section:nth-of-type(4) ul > li {
	display: flex;
	padding:0 0 0 1ch;
  line-height:1.6875em;
  margin-left: 0;
}

section:nth-of-type(4) li:first-of-type {
  font-weight:700;
}
section:nth-of-type(4) p:first-of-type {
  font-size: 20px;
}
section:nth-of-type(4) p:nth-of-type(2) {
  font-weight:700;
}
section:nth-of-type(4) div > img {
  width: 1.5em;
}
section:nth-of-type(4) div > a {
	background-color: #EADAD0;
	color: black;
}
section:nth-of-type(4) div > img {
	width: 0.8em;
height: 0.8em;
position: absolute;}

section:nth-of-type(4) p:nth-of-type(4) {
  margin-left: 1em;
}

a:link {

}
a:visited {

}
a:hover, a:focus {

}
a:active {

}
button {

}

/* form styling */
form {

}
  fieldset {

  }
    legend {

    }
    label {

    }
    input {

    }
    input:invalid {

    }

/* Section styling */
header {

}
  header h1 {

  }

main {

}
  main button {

  }
section {

}
  section header {

  }
  section h2 {

  }
article {

}
  article header {

  }
  article h3 {

  }
  article footer {

  }

aside {

}

footer {

}

/* Component styling */
section#some-ultra-cool-component {

}


/* Breakpoints */
@media all and (min-width: 30em) {

}

@media all and (min-width: 60em) {

}

@media all and (min-width: 90em) {

}
